@import "tailwindcss";

:root {
  --color-primary: #b9375d;
  --color-secondary: #d25d5d;

  --color-bg: #f8fafc;
  --color-surface: #ffffff;
  --color-surface-2: #f1f5f9;

  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;

  --color-border: #d1d5db;
  --color-white: #ffffff;
  --color-neutral-base: #f3f4f6;

  /* NEW */
  --color-button-text: #111827;
}

body.light-theme {
  --color-bg: #f8fafc;
  --color-surface: #ffffff;
  --color-surface-2: #f1f5f9;

  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;

  --color-border: #d1d5db;
  --color-white: #ffffff;
  --color-neutral-base: #f3f4f6;


  --color-button-text: #111827;
}

body.dark-theme {
  --color-bg: #0f172a;
  --color-surface: #1e293b;
  --color-surface-2: #334155;

  --color-text-primary: #f8fafc;
  --color-text-secondary: #cbd5e1;

  --color-border: #475569;
  --color-white: #1e293b;
  --color-neutral-base: #334155;

  /* BUTTON */
  --color-button-text: #f8fafc;
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);

  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);

  --color-border: var(--color-border);
  --color-white: var(--color-white);
  --color-neutral-base: var(--color-neutral-base);
}

html,
body {
  min-height: 100%;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

body {
  transition: background-color 0.25s ease, color 0.25s ease;
}